In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
%matplotlib notebook

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Taltal,CL,2021-05-26 19:43:56,-25.4000,-70.4833,67.84,64,100,1.79
1,1,Jamestown,US,2021-05-26 19:40:29,42.0970,-79.2353,68.07,91,90,5.01
2,2,Airai,TL,2021-05-26 19:43:56,-8.9266,125.4092,55.62,88,31,3.98
3,3,Ushuaia,AR,2021-05-26 19:41:30,-54.8000,-68.3000,31.66,86,75,17.27
4,4,Albany,US,2021-05-26 19:43:27,42.6001,-73.9662,90.91,46,36,1.01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Contamana,PE,2021-05-26 19:43:58,-7.3333,-75.0167,86.54,58,87,3.71
14,14,Hithadhoo,MV,2021-05-26 19:44:00,-0.6000,73.0833,84.20,69,100,21.16
21,21,Santa Cruz,BO,2021-05-26 19:42:58,-17.8000,-63.1667,82.45,54,75,10.36
22,22,Nishihara,JP,2021-05-26 19:44:04,26.1842,127.7558,80.26,94,20,17.38
30,30,Hambantota,LK,2021-05-26 19:44:08,6.1241,81.1185,80.13,81,92,23.31
33,33,Anloga,GH,2021-05-26 19:44:09,5.7947,0.8973,84.42,83,18,15.59
43,43,Faanui,PF,2021-05-26 19:44:12,-16.4833,-151.7500,81.41,73,34,13.87
54,54,Bhatapara,IN,2021-05-26 19:44:16,21.7333,81.9333,84.11,56,100,5.30
55,55,Touros,BR,2021-05-26 19:44:16,-5.1989,-35.4608,85.10,76,24,17.43
76,76,Manggar,ID,2021-05-26 19:44:23,-2.8833,108.2667,82.67,79,62,8.39

In [15]:
preferred_cities_df.count()

City_ID       97
City          97
Country       97
Date          97
Lat           97
Lng           97
Max Temp      97
Humidity      97
Cloudiness    97
Wind Speed    97
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
10   Contamana      PE     86.54  -7.3333  -75.0167
14   Hithadhoo      MV     84.20  -0.6000   73.0833
21  Santa Cruz      BO     82.45 -17.8000  -63.1667
22   Nishihara      JP     80.26  26.1842  127.7558
30  Hambantota      LK     80.13   6.1241   81.1185
33      Anloga      GH     84.42   5.7947    0.8973
43      Faanui      PF     81.41 -16.4833 -151.7500
54   Bhatapara      IN     84.11  21.7333   81.9333
55      Touros      BR     85.10  -5.1989  -35.4608
76     Manggar      ID     82.67  -2.8833  108.2667

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("Hotel added to DF")
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF

In [23]:
hotel_df.head()

          City Country  Max Temp      Lat       Lng                Hotel Name
10   Contamana      PE     86.54  -7.3333  -75.0167  Shiringal Touristic Park
14   Hithadhoo      MV     84.20  -0.6000   73.0833         Scoop Guest House
21  Santa Cruz      BO     82.45 -17.8000  -63.1667    Aviador Hotel Boutique
22   Nishihara      JP     80.26  26.1842  127.7558         Minshuku Agaihama
30  Hambantota      LK     80.13   6.1241   81.1185               Bungalow 63

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
hotel_info

['\n<dl>\n<dt>Hotel Name</dt><dd>Shiringal Touristic Park</dd>\n<dt>City</dt><dd>Contamana</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Max Temp</dt><dd>86.54 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Max Temp</dt><dd>84.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aviador Hotel Boutique</dd>\n<dt>City</dt><dd>Santa Cruz</dd>\n<dt>Country</dt><dd>BO</dd>\n<dt>Max Temp</dt><dd>82.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Minshuku Agaihama</dd>\n<dt>City</dt><dd>Nishihara</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Max Temp</dt><dd>80.26 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bungalow 63</dd>\n<dt>City</dt><dd>Hambantota</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Max Temp</dt><dd>80.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pin Drop Hotel</dd>\n<dt>City</dt><dd>Anloga</dd>\n<dt>Country</dt><dd>GH</dd>\n<dt>Max Temp</dt><dd>84.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bora-Bora Pearl Beach Resort & Spa</dd>\n<dt>City</dt><dd>Faanui</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Max Temp</dt><dd>81.41 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>THE BABBU PARADISE</dd>\n<dt>City</dt><dd>Bhatapara</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Max Temp</dt><dd>84.11 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>INN NEW HORIZON</dd>\n<dt>City</dt><dd>Touros</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>85.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Guest Hotel</dd>\n<dt>City</dt><dd>Manggar</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Max Temp</dt><dd>82.67 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>81.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Albergue de Olinda</dd>\n<dt>City</dt><dd>Olinda</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>80.33 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Butterfly Beach Hotel</dd>\n<dt>City</dt><dd>Oistins</dd>\n<dt>Country</dt><dd>BB</dd>\n<dt>Max Temp</dt><dd>84.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Max Temp</dt><dd>82.33 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Max Temp</dt><dd>82.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kamaneahn Hotel Inc</dd>\n<dt>City</dt><dd>Buchanan</dd>\n<dt>Country</dt><dd>LR</dd>\n<dt>Max Temp</dt><dd>80.56 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>African House Resort</dd>\n<dt>City</dt><dd>Malindi</dd>\n<dt>Country</dt><dd>KE</dd>\n<dt>Max Temp</dt><dd>80.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hospedaje la Amistad</dd>\n<dt>City</dt><dd>Pozo Colorado</dd>\n<dt>Country</dt><dd>PY</dd>\n<dt>Max Temp</dt><dd>82.85 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Citra</dd>\n<dt>City</dt><dd>Sabang</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Max Temp</dt><dd>81.91 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sea Lounge! Bar, Club & Restaurant</dd>\n<dt>City</dt><dd>Itarema</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>81.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Max Temp</dt><dd>83.23 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Niyama Private Islands Maldives</dd>\n<dt>City</dt><dd>Kudahuvadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Max Temp</dt><dd>83.68 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Narayan Avezika Comfort</dd>\n<dt>City</dt><dd>Dwarka</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Max Temp</dt><dd>84.49 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>80.11 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Jus Les' Suites</dd>\n<dt>City</dt><dd>Point Fortin</dd>\n<dt>Country</dt><dd>TT</dd>\n<dt>Max Temp</dt><dd>86.14 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Max Temp</dt><dd>80.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Krushana Papad & Shevai Kendra, PAROLA</dd>\n<dt>City</dt><dd>Parola</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Max Temp</dt><dd>85.68 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Southern Beach Hotel & Resort Okinawa</dd>\n<dt>City</dt><dd>Itoman</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Max Temp</dt><dd>80.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>OYO 90038 Dalyla Inn Chalet</dd>\n<dt>City</dt><dd>Cukai</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Max Temp</dt><dd>80.74 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kirari Guest House</dd>\n<dt>City</dt><dd>Gushikawa</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Max Temp</dt><dd>80.19 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mini Hotel Central</dd>\n<dt>City</dt><dd>Victoria</dd>\n<dt>Country</dt><dd>HK</dd>\n<dt>Max Temp</dt><dd>85.32 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Chenango Valley State Park</dd>\n<dt>City</dt><dd>Broome</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>82.33 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Screensaver</dd>\n<dt>City</dt><dd>Harper</dd>\n<dt>Country</dt><dd>LR</dd>\n<dt>Max Temp</dt><dd>80.11 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>صاحبة الفخامة</dd>\n<dt>City</dt><dd>Jalu</dd>\n<dt>Country</dt><dd>LY</dd>\n<dt>Max Temp</dt><dd>87.62 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Poutur Pousada</dd>\n<dt>City</dt><dd>Maceio</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>81.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>hotêl doufoulougou</dd>\n<dt>City</dt><dd>Tabou</dd>\n<dt>Country</dt><dd>CI</dd>\n<dt>Max Temp</dt><dd>80.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Ungoofaaru Inn</dd>\n<dt>City</dt><dd>Ugoofaaru</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Max Temp</dt><dd>82.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Peru Selva Tarapoto Lamas Linda</dd>\n<dt>City</dt><dd>Lamas</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Max Temp</dt><dd>84.67 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mula 1522 Private Resort</dd>\n<dt>City</dt><dd>Malino</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Max Temp</dt><dd>82.85 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nag Aespen</dd>\n<dt>City</dt><dd>Matay</dd>\n<dt>Country</dt><dd>EG</dd>\n<dt>Max Temp</dt><dd>85.3 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Jutai</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>81.5 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>OYO 1577 Hotel Shree Hari Grand</dd>\n<dt>City</dt><dd>Puri</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Max Temp</dt><dd>81.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tour Eiffel Hotel Benin</dd>\n<dt>City</dt><dd>Porto Novo</dd>\n<dt>Country</dt><dd>BJ</dd>\n<dt>Max Temp</dt><dd>84.02 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Fullerton Hotel Singapore</dd>\n<dt>City</dt><dd>Singapore</dd>\n<dt>Country</dt><dd>SG</dd>\n<dt>Max Temp</dt><dd>82.35 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Big Red's</dd>\n<dt>City</dt><dd>Bull Savanna</dd>\n<dt>Country</dt><dd>JM</dd>\n<dt>Max Temp</dt><dd>81.39 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Avenida</dd>\n<dt>City</dt><dd>Coxim</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>86.41 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sadaf Resort</dd>\n<dt>City</dt><dd>Gwadar</dd>\n<dt>Country</dt><dd>PK</dd>\n<dt>Max Temp</dt><dd>88.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grand Vilia Hotel</dd>\n<dt>City</dt><dd>Tual</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Max Temp</dt><dd>81.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>شرکت معماری مهراز شایگان آراد</dd>\n<dt>City</dt><dd>Tabas</dd>\n<dt>Country</dt><dd>IR</dd>\n<dt>Max Temp</dt><dd>83.08 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Forasteiro Pousada - Hotel</dd>\n<dt>City</dt><dd>Esmeraldas</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>86.11 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Umm Kaddadah</dd>\n<dt>Country</dt><dd>SD</dd>\n<dt>Max Temp</dt><dd>87.64 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>JKL Inc. R.V Park and Storage</dd>\n<dt>City</dt><dd>Meadow Lake</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>86.77 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lahaina Shores Beach Resort</dd>\n<dt>City</dt><dd>Lahaina</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>83.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Wasai Hotel</dd>\n<dt>City</dt><dd>Puerto Maldonado</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Max Temp</dt><dd>86.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lovers Point Inn</dd>\n<dt>City</dt><dd>Pacific Grove</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>81.61 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>CeBlue Villas & Beach Resort</dd>\n<dt>City</dt><dd>The Valley</dd>\n<dt>Country</dt><dd>AI</dd>\n<dt>Max Temp</dt><dd>85.86 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Princeville</dd>\n<dt>Country</dt><dd>CA</dd>\n<dt>Max Temp</dt><dd>83.62 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Plaza Providencia</dd>\n<dt>City</dt><dd>Ixtapa</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Max Temp</dt><dd>83.43 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Reserva do Abiaí</dd>\n<dt>City</dt><dd>Pitimbu</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>82.99 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Motel Dos Palmas (Maria Machete)</dd>\n<dt>City</dt><dd>Primero De Enero</dd>\n<dt>Country</dt><dd>CU</dd>\n<dt>Max Temp</dt><dd>85.86 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotels in Lakshadweep Islands</dd>\n<dt>City</dt><dd>Kavaratti</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Max Temp</dt><dd>83.48 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HAMDAN PLAZA HOTEL SALALAH</dd>\n<dt>City</dt><dd>Salalah</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Max Temp</dt><dd>84.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kashmiri Hotal</dd>\n<dt>City</dt><dd>Pasni</dd>\n<dt>Country</dt><dd>PK</dd>\n<dt>Max Temp</dt><dd>86.58 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Haajy Guest House 1</dd>\n<dt>City</dt><dd>Kulhudhuffushi</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Max Temp</dt><dd>81.52 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Baghdad Hotel</dd>\n<dt>City</dt><dd>Baghdad</dd>\n<dt>Country</dt><dd>IQ</dd>\n<dt>Max Temp</dt><dd>84.11 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>OYO 3027 Griya Temenggungan Syariah</dd>\n<dt>City</dt><dd>Pamekasan</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Max Temp</dt><dd>80.33 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ALETHEIA Appartement Sinnamary</dd>\n<dt>City</dt><dd>Sinnamary</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Max Temp</dt><dd>80.26 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Maui Seaside Hotel</dd>\n<dt>City</dt><dd>Kahului</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>82.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Courtyard by Marriott Lincoln Downtown/Haymarket</dd>\n<dt>City</dt><dd>Lincoln</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>84.11 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel California</dd>\n<dt>City</dt><dd>Cerano</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Max Temp</dt><dd>89.33 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sol E Mar</dd>\n<dt>City</dt><dd>Firminopolis</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>85.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Peace Land Ishigakijima</dd>\n<dt>City</dt><dd>Ishigaki</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Max Temp</dt><dd>83.08 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lidera</dd>\n<dt>City</dt><dd>Carutapera</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>80.67 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Pousada Aquino Paraiso</dd>\n<dt>City</dt><dd>Dois Corregos</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>81.75 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Erlyn’s Sta Rosa City Home</dd>\n<dt>City</dt><dd>Santa Rosa</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Max Temp</dt><dd>84.18 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Marriott's Ko Olina Beach Club</dd>\n<dt>City</dt><dd>Makakilo City</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>82.62 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Beau Site</dd>\n<dt>City</dt><dd>Marsa Matruh</dd>\n<dt>Country</dt><dd>EG</dd>\n<dt>Max Temp</dt><dd>82.6 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shree Nandan Couriyar Service</dd>\n<dt>City</dt><dd>Tharad</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Max Temp</dt><dd>86.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Amapa</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>81.77 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>San Borja</dd>\n<dt>Country</dt><dd>BO</dd>\n<dt>Max Temp</dt><dd>84.83 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>SpringHill Suites by Marriott Vero Beach</dd>\n<dt>City</dt><dd>Gifford</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>88.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Atlantis Hotel</dd>\n<dt>City</dt><dd>Bathsheba</dd>\n<dt>Country</dt><dd>BB</dd>\n<dt>Max Temp</dt><dd>84.81 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Camapuã</dd>\n<dt>City</dt><dd>Gilbues</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>85.48 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Maringe Lagoon Lodge</dd>\n<dt>City</dt><dd>Buala</dd>\n<dt>Country</dt><dd>SB</dd>\n<dt>Max Temp</dt><dd>80.01 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Orchid Main Camp Goubet</dd>\n<dt>City</dt><dd>Jibuti</dd>\n<dt>Country</dt><dd>DJ</dd>\n<dt>Max Temp</dt><dd>83.62 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Urubicha</dd>\n<dt>Country</dt><dd>BO</dd>\n<dt>Max Temp</dt><dd>87.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Brisas del Yucao</dd>\n<dt>City</dt><dd>Puerto Gaitan</dd>\n<dt>Country</dt><dd>CO</dd>\n<dt>Max Temp</dt><dd>81.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Sayat</dd>\n<dt>Country</dt><dd>TM</dd>\n<dt>Max Temp</dt><dd>82.27 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Saigon Morin Hotel</dd>\n<dt>City</dt><dd>Hue</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Max Temp</dt><dd>80.71 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>kaligonj Mass</dd>\n<dt>City</dt><dd>Satkhira</dd>\n<dt>Country</dt><dd>BD</dd>\n<dt>Max Temp</dt><dd>80.6 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Thinadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Max Temp</dt><dd>84.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Lossandes</dd>\n<dt>City</dt><dd>Carmen</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Max Temp</dt><dd>88.27 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Agno Umbrella Rocks</dd>\n<dt>City</dt><dd>Aloleng</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Max Temp</dt><dd>82.63 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Parkir Mobil Wisata CAS Water Park</dd>\n<dt>City</dt><dd>Karaton</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Max Temp</dt><dd>81.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Los Copihues</dd>\n<dt>City</dt><dd>Tinaquillo</dd>\n<dt>Country</dt><dd>VE</dd>\n<dt>Max Temp</dt><dd>89.67 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Tanout</dd>\n<dt>Country</dt><dd>NE</dd>\n<dt>Max Temp</dt><dd>88.34 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bonthe Holiday Village</dd>\n<dt>City</dt><dd>Bonthe</dd>\n<dt>Country</dt><dd>SL</dd>\n<dt>Max Temp</dt><dd>81.61 °F</dd>\n</dl>\n']

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))