## Deliverable 2. Create a Customer Travel Destinations Map.

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [10]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hermanus,ZA,-34.4187,19.2345,55.90,81,54,5.73,broken clouds
1,1,Tura,IN,25.5198,90.2201,72.36,93,24,4.63,few clouds
2,2,San Andres Del Rabanedo,ES,42.6117,-5.6167,60.76,77,0,2.30,clear sky
3,3,Ikalamavony,MG,-21.1500,46.5833,57.20,70,81,3.87,broken clouds
4,4,Haines Junction,CA,60.7522,-137.5108,51.75,43,98,10.36,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [11]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Awjilah,LY,29.1081,21.2869,85.42,26,6,7.43,clear sky
15,15,Malakal,SS,9.5334,31.6605,84.07,46,3,4.65,clear sky
17,17,Vanimo,PG,-2.6741,141.3028,80.37,87,100,3.13,overcast clouds
22,22,Gidam,IN,18.9833,81.4000,81.70,59,38,4.16,scattered clouds
23,23,Susanville,US,40.4163,-120.6530,82.81,16,1,5.01,clear sky
54,54,Novo Aripuana,BR,-5.1206,-60.3797,80.17,72,90,1.66,overcast clouds
66,66,Lake Charles,US,30.2131,-93.2044,82.38,85,75,3.44,broken clouds
80,80,Minab,IR,27.1467,57.0801,85.50,35,0,2.80,clear sky
87,87,Claveria,PH,18.6074,121.0832,82.94,77,99,1.45,overcast clouds
88,88,Umm Lajj,SA,25.0213,37.2685,82.90,68,100,11.95,overcast clouds

In [12]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             73
City                   73
Country                73
Lat                    73
Lng                    73
Max Temp               73
Humidity               73
Cloudiness             73
Wind Speed             73
Current Description    73
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [20]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Awjilah,LY,85.42,clear sky,29.1081,21.2869,
15,Malakal,SS,84.07,clear sky,9.5334,31.6605,
17,Vanimo,PG,80.37,overcast clouds,-2.6741,141.3028,
22,Gidam,IN,81.70,scattered clouds,18.9833,81.4000,
23,Susanville,US,82.81,clear sky,40.4163,-120.6530,
54,Novo Aripuana,BR,80.17,overcast clouds,-5.1206,-60.3797,
66,Lake Charles,US,82.38,broken clouds,30.2131,-93.2044,
80,Minab,IR,85.50,clear sky,27.1467,57.0801,
87,Claveria,PH,82.94,overcast clouds,18.6074,121.0832,
88,Umm Lajj,SA,82.90,overcast clouds,25.0213,37.2685,

In [22]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
        
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("Hotel added to DF")
    except (IndexError):
        print("Hotel not found... skipping.")
print("------------\nFinished Locating Hotels\n------------")

Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel added to DF
Hotel not found... skipping.
Hotel added to DF
Hotel not found... skipping.
------------
Finished Locating Hotels
------------

In [23]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Awjilah,LY,85.42,clear sky,29.1081,21.2869,
15,Malakal,SS,84.07,clear sky,9.5334,31.6605,Nile Palace Hotel
17,Vanimo,PG,80.37,overcast clouds,-2.6741,141.3028,Vahmoneh Lodge Vanimo
22,Gidam,IN,81.70,scattered clouds,18.9833,81.4000,Dhanshree Lodge And DormItory
23,Susanville,US,82.81,clear sky,40.4163,-120.6530,Red Lion Inn & Suites Susanville

In [26]:
# 7. Drop the rows where there is no Hotel Name.
# nan_value = float("NaN")
hotel_df.replace("", np.nan, inplace = True)
hotel_df.dropna(subset = ["Hotel Name"], inplace = True)
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
15,Malakal,SS,84.07,clear sky,9.5334,31.6605,Nile Palace Hotel
17,Vanimo,PG,80.37,overcast clouds,-2.6741,141.3028,Vahmoneh Lodge Vanimo
22,Gidam,IN,81.70,scattered clouds,18.9833,81.4000,Dhanshree Lodge And DormItory
23,Susanville,US,82.81,clear sky,40.4163,-120.6530,Red Lion Inn & Suites Susanville
54,Novo Aripuana,BR,80.17,overcast clouds,-5.1206,-60.3797,Hotel Ezequiel

In [27]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [28]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature 
# for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))