## Deliverable 3. Create a Travel Itinerary Map.

In [43]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [44]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,15,Malakal,SS,84.07,clear sky,9.5334,31.6605,Nile Palace Hotel
1,17,Vanimo,PG,80.37,overcast clouds,-2.6741,141.3028,Vahmoneh Lodge Vanimo
2,22,Gidam,IN,81.70,scattered clouds,18.9833,81.4000,Dhanshree Lodge And DormItory
3,23,Susanville,US,82.81,clear sky,40.4163,-120.6530,Red Lion Inn & Suites Susanville
4,54,Novo Aripuana,BR,80.17,overcast clouds,-5.1206,-60.3797,Hotel Ezequiel

In [45]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [46]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Napa"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Napa"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Chino Valley"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Riverton"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] =="Altamont"]
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
52,461,Riverton,US,82.9,clear sky,40.5219,-111.9391,Ramada by Wyndham Draper

In [48]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6])

In [49]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
start_to_end = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3])
fig.add_layer(start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,172,Napa,US,87.78,clear sky,38.4832,-122.3344,Fortuna Ranch
1,206,Chino Valley,US,88.61,clear sky,34.7575,-112.4538,Primrose Inn & Suites
2,461,Riverton,US,82.90,clear sky,40.5219,-111.9391,Ramada by Wyndham Draper
3,428,Altamont,US,80.40,clear sky,42.2068,-121.7372,Microtel Inn & Suites by Wyndham Klamath Falls

In [40]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [41]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))